<ul class="nav navbar-nav">
    <li ng-class="(navLink === '/list-table') ? 'active' : ''"><a ui-sref="ListTable">List Table</a></li>
    <li ng-class="(navLink === '/cross-table') ? 'active' : ''"><a ui-sref="CrossTable">Cross Table</a></li>
</ul>
<p class="navbar-text"><small>Signed in as {{getDisplayName()}}</small></p>
<ul class="nav navbar-nav navbar-right">
    <li><a href="#" ng-click="logout()">Logout</a></li>
    <li ng-class="(navLink === '/help') ? 'active' : ''"><a href="#/help">Help</a></li>
</ul>
